* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    caret-color: transparent;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0 20px 0;
    background-color: rgb(241, 218, 218);
    color: black;
    transition: 300ms;
}

.p1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.p2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.input {
    background: #fff;
    border: none;
    border-left: 8px solid #ffb488;
    padding: 0 0 0 20px;
    height: 70px;
    width: 900px;
    text-align: left;
    text-transform: none;
    border-radius: none;
    font-weight: 400;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    caret-color: black;
}

.response {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}